
body{
  height: 100vh;
  margin: 0;
  
}
#flex-container{
  background-color: #DEB6AB;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  flex-wrap:wrap;
}
.flex1{
  background-color: #F8ECD1;
  border-radius: 15px;
  border: 2px solid black;
}
.flex2{
  background-color: #AC7D88;
  border-radius:15px;
  border: 2px solid black;
}
.flex3{
  background-color: #85586F;
  border-radius: 15px;
  border: 2px solid black;
}
