
body{
  margin: 0;
  text-align:center;
}
#flex-container{
  background-color: #DEB6AB
}
.flex-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow:row wrap;
  padding: 20px;
}
.flex1{
  background-color: #F8ECD1;
  width:270px;
  height:350px;
  border-radius: 15px;
  border: 2px solid black;
}
.flex2{
  background-color: #AC7D88;
  width:270px;
  height:350px;
  border-radius:15px;
  border: 2px solid black;
}
.flex3{
  background-color: #85586F;
  border-radius: 15px;
  border: 2px solid black;
  width:270px;
  height:350px;
}
