
body{
  margin: 0;
}
#flex-container{
  background-color: #DEB6AB;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-content: center;
  max-height: 100vh;
}
.flex-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.flex1{
  background-color: #F8ECD1;
  width: 30%;
  border-radius: 15px;
  border: 2px solid black;
}
.flex2{
  background-color: #AC7D88;
  width: 30%;
  border-radius:15px;
  border: 2px solid black;
}
.flex3{
  background-color: #85586F;
  border-radius: 15px;
  border: 2px solid black;
  width: 30%;
}
